.banner > h1, h2, h3, h4 {
    color: white;
}
.banner {
    background-image: url(./Aesop-Homepage-Banner.jpg);
    height: 50vh;
    /* width: 100vw; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    /* text-align: left; */

}
.hero-text {
    text-align: left;
    padding-top: 12%;
    /* padding-bottom: 5%; */

}

.left-head {
    border-right: 2px solid black;
}